/flat/include/flat/*.h
/flat/lib/*.a
/flat/obj/*.o
/flat/obj/*.o32
/obj/*.o
/obj/*.o32
/dist/*

/Makefile.config
/flat/Makefile.config
/dist/justdontdie
/justdontdie
/justdontdie.exe
/justdontdie.zip
/flat/test
/test
/tags

*.swp

_site
.sass-cache
